<% layout('layout/boilerplate') %> 
<html>
    <link rel="stylesheet" href="../public/styles/blog.css">
    <body>
        <div class="blog-container">
            <div class="image-div">
                <img src="" alt="">
            </div>
            <div class="title-div">

            </div>
        </div>
    </body>
</html>